appdirs==1.4.3
attrs==19.3.0
black==19.10b0
click==7.1.1
entrypoints==0.3
fake-bpy-module-2.82==20200218
flake8==3.7.9
mccabe==0.6.1
pathspec==0.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
regex==2020.4.4
toml==0.10.0
typed-ast==1.4.1
typing==3.7.4.1
